stages:
  - format
  - build
  - test

variables:
  NODE_VERSION: "22.8.0"
  DOTNET_CLI_TELEMETRY_OPTOUT: "1"
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: "1"
  DOTNET_NOLOGO: "1"
  SIGN_FILE: "false"
  PROJECT_NAME: "Kentico.Xperience.ElasticSearch"

# Dotnet format stage
dotnet-format:
  stage: format
  image: mcr.microsoft.com/dotnet/sdk:8.0
  script:
    - echo "Running dotnet clean"
    - dotnet nuget locals all --clear
    - echo "Running dotnet restore"
    - dotnet restore --locked-mode
    - echo "Running dotnet format..."
    - dotnet format --exclude ./examples/** --verify-no-changes
  only:
    changes:
      - "**/*.cs"
      - "**/*.csproj"
      - "**/*.props"
      - "**/*.targets"
      - "**/*.sln"
      - "**/Client/**/*.json"
      - "**/*.tsx"
      - "**/*.js"
      - ".gitlab-ci.yml"

# Build stage
build:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:8.0
  services:
    - name: node:22.8.0
  dependencies:
    - dotnet-format
  before_script:
    - node --version
    - npm --version
    - npm cache clean --force
  script:
    - dotnet restore --locked-mode
    - dotnet build --configuration Release --no-restore
  only:
    changes:
      - "**/*.cs"
      - "**/*.csproj"
      - "**/*.props"
      - "**/*.targets"
      - "**/*.sln"
      - "**/Client/**/*.json"
      - "**/*.tsx"
      - "**/*.js"
      - ".gitlab-ci.yml"

# Test stage
test:
  stage: test
  image: mcr.microsoft.com/dotnet/sdk:8.0
  dependencies:
    - build
  script:
    - dotnet test --configuration Release --no-build --no-restore
  only:
    changes:
      - "**/*.cs"
      - "**/*.csproj"
      - "**/*.props"
      - "**/*.targets"
      - "**/*.sln"
      - "**/Client/**/*.json"
      - "**/*.tsx"
      - "**/*.js"
      - ".gitlab-ci.yml"